Monitor/Service References/ServiceReference1/EDSService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7070/EDSService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Monitor" />
  <xs:import schemaLocation="http://localhost:7070/EDSService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/EDSLot" />
  <xs:import schemaLocation="http://localhost:7070/EDSService?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="UpdateDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="address" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="zoneIndex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDeviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateDeviceResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoteControl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="snd" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoteControlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoteControlResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="address" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Monitor" minOccurs="0" name="QueryDataResult" nillable="true" type="q1:ArrayOfRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryTrip">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="address" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryTripResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EDSLot" minOccurs="0" name="QueryTripResult" nillable="true" type="q2:ArrayOfTrip" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeSelectedAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="address" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeSelectedAddressResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryEnergy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="addrs" nillable="true" type="q3:ArrayOfint" />
        <xs:element minOccurs="0" name="start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryEnergyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EDSLot" minOccurs="0" name="QueryEnergyResult" nillable="true" type="q4:ArrayOfEnergy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>