Monitor/Service References/ServiceReference1/EDSService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EDSService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IEDSService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7070/EDSService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7070/EDSService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7070/EDSService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Monitor" />
      <xsd:import schemaLocation="http://localhost:7070/EDSService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/EDSLot" />
      <xsd:import schemaLocation="http://localhost:7070/EDSService?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEDSService_UpdateDevice_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDevice" />
  </wsdl:message>
  <wsdl:message name="IEDSService_UpdateDevice_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="IEDSService_RemoteControl_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoteControl" />
  </wsdl:message>
  <wsdl:message name="IEDSService_RemoteControl_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoteControlResponse" />
  </wsdl:message>
  <wsdl:message name="IEDSService_QueryData_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryData" />
  </wsdl:message>
  <wsdl:message name="IEDSService_QueryData_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryDataResponse" />
  </wsdl:message>
  <wsdl:message name="IEDSService_QueryTrip_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryTrip" />
  </wsdl:message>
  <wsdl:message name="IEDSService_QueryTrip_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryTripResponse" />
  </wsdl:message>
  <wsdl:message name="IEDSService_ChangeDeviceLiveness_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeDeviceLiveness" />
  </wsdl:message>
  <wsdl:message name="IEDSService_ChangeDeviceLiveness_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeDeviceLivenessResponse" />
  </wsdl:message>
  <wsdl:message name="IEDSService_QueryEnergy_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryEnergy" />
  </wsdl:message>
  <wsdl:message name="IEDSService_QueryEnergy_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryEnergyResponse" />
  </wsdl:message>
  <wsdl:message name="IEDSService_GetUpsState_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUpsState" />
  </wsdl:message>
  <wsdl:message name="IEDSService_GetUpsState_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUpsStateResponse" />
  </wsdl:message>
  <wsdl:portType name="IEDSService">
    <wsdl:operation name="UpdateDevice">
      <wsdl:input wsaw:Action="http://tempuri.org/IEDSService/UpdateDevice" message="tns:IEDSService_UpdateDevice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEDSService/UpdateDeviceResponse" message="tns:IEDSService_UpdateDevice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoteControl">
      <wsdl:input wsaw:Action="http://tempuri.org/IEDSService/RemoteControl" message="tns:IEDSService_RemoteControl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEDSService/RemoteControlResponse" message="tns:IEDSService_RemoteControl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryData">
      <wsdl:input wsaw:Action="http://tempuri.org/IEDSService/QueryData" message="tns:IEDSService_QueryData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEDSService/QueryDataResponse" message="tns:IEDSService_QueryData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryTrip">
      <wsdl:input wsaw:Action="http://tempuri.org/IEDSService/QueryTrip" message="tns:IEDSService_QueryTrip_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEDSService/QueryTripResponse" message="tns:IEDSService_QueryTrip_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeDeviceLiveness">
      <wsdl:input wsaw:Action="http://tempuri.org/IEDSService/ChangeDeviceLiveness" message="tns:IEDSService_ChangeDeviceLiveness_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEDSService/ChangeDeviceLivenessResponse" message="tns:IEDSService_ChangeDeviceLiveness_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryEnergy">
      <wsdl:input wsaw:Action="http://tempuri.org/IEDSService/QueryEnergy" message="tns:IEDSService_QueryEnergy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEDSService/QueryEnergyResponse" message="tns:IEDSService_QueryEnergy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUpsState">
      <wsdl:input wsaw:Action="http://tempuri.org/IEDSService/GetUpsState" message="tns:IEDSService_GetUpsState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEDSService/GetUpsStateResponse" message="tns:IEDSService_GetUpsState_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IEDSService" type="tns:IEDSService">
    <wsp:PolicyReference URI="#WSHttpBinding_IEDSService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateDevice">
      <soap12:operation soapAction="http://tempuri.org/IEDSService/UpdateDevice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoteControl">
      <soap12:operation soapAction="http://tempuri.org/IEDSService/RemoteControl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryData">
      <soap12:operation soapAction="http://tempuri.org/IEDSService/QueryData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryTrip">
      <soap12:operation soapAction="http://tempuri.org/IEDSService/QueryTrip" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeDeviceLiveness">
      <soap12:operation soapAction="http://tempuri.org/IEDSService/ChangeDeviceLiveness" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryEnergy">
      <soap12:operation soapAction="http://tempuri.org/IEDSService/QueryEnergy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpsState">
      <soap12:operation soapAction="http://tempuri.org/IEDSService/GetUpsState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EDSService">
    <wsdl:port name="WSHttpBinding_IEDSService" binding="tns:WSHttpBinding_IEDSService">
      <soap12:address location="http://localhost:7070/EDSService" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:7070/EDSService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>