Monitor/Service References/ServiceReference1/EDSService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Monitor" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Monitor" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRecord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Record" nillable="true" type="tns:Record" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRecord" nillable="true" type="tns:ArrayOfRecord" />
  <xs:complexType name="Record">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" type="xs:int" />
      <xs:element minOccurs="0" name="IN" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Ia" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Ib" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Ic" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Igf" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Record" nillable="true" type="tns:Record" />
</xs:schema>